/*global start*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 !important;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1400px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px !important;
}

/*global end*/
.site-header {
  padding: 10px 0;
  background: transparent;
  width: 100%;
  z-index: 9999999;
  transition: all 0.5s linear;
  top: 0;
  position: absolute;
}
.site-header .header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-header .site-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.site-header .site-nav li a {
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  padding: 10px 0 10px 24px;
  font-size: 16px;
  display: inline-block;
  position: relative;
  z-index: 999;
  font-family: "Noto Sans", sans-serif;
}
.site-header .site-nav li a:hover {
  color: #4c9ef1;
}
.site-header .site-nav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #da1c4b;
  transition: width 0.3s;
}
.site-header .site-nav li a:hover::after {
  width: 100%;
}
.site-header .site-nav li a:hover {
  color: #da1c4b;
}
.site-header .closed-menu {
  display: none;
}
.site-header .menu-toggle {
  display: none;
}
.site-header .menu-toggle .bar-1,
.site-header .bar-2,
.site-header .bar-3 {
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  margin: 0.6rem 0;
  transition: all 0.3s linear;
  display: block;
}

.site-bnr {
  background: url(../img/homebanners1.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-attachment: fixed;
}
.site-bnr::after {
  background-color: rgba(0, 0, 0, 0.6705882353);
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -9;
}
.site-bnr .bnr-text {
  text-align: center;
}
.site-bnr .bnr-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.site-bnr .bnr-text .button-wrapper a {
  background-color: #da1c4b;
  color: #fff;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 17px;
  padding-left: 40px;
  border-radius: 30px;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  border: 1px solid #da1c4b;
}
.site-bnr .bnr-text .button-wrapper a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}

section.discritpion-bnr {
  background-color: #fff;
  padding: 50px 0;
}
section.discritpion-bnr .discritpion p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
  line-height: 1.7em;
  text-align: center;
}

.card-img {
  padding: 80px 0;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.card-box {
  padding: 1em 0;
  width: 100%;
  height: 250px;
}

.card-box .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 250px;
  object-fit: cover;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

h3.content-title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.understand {
  background: url(../img/section-bg-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0;
  background-attachment: fixed;
  margin-top: 50px;
  z-index: 99;
  position: relative;
}
.understand::after {
  background-color: rgba(0, 0, 0, 0.6705882353);
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -9;
}
.understand .understand-text {
  padding: 0 0 0 50%;
}
.understand .understand-text h3 {
  font-size: 40px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-bottom: 14px;
}
.understand .understand-text p {
  font-size: 16px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 12px;
}
.understand .understand-text .button-wrapper a {
  padding: 14px 40px;
  background-color: #da1c4b;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #da1c4b;
  border-radius: 30px;
}
.understand .understand-text .button-wrapper a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}

body#home-page footer.footer {
  margin: 0;
}

footer.footer {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 100px 0 0 0;
  margin-top: 100px;
}
footer.footer img.knsl-footer-logo {
  width: 100%;
  margin-bottom: 33px;
  max-width: 221px;
}
footer.footer .knsl-footer-about {
  display: block;
  width: 80%;
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
footer.footer .knsl-footer-social {
  padding-top: 50px;
}
footer.footer .knsl-footer-social i {
  background: #fff;
  height: 40px;
  width: 40px;
  padding: 9px;
  text-align: center;
  color: #da1c4b;
  font-size: 22px;
  border-radius: 30px;
  transition: all 0.2s;
}
footer.footer .knsl-footer-social i:hover {
  background-color: #da1c4b;
  color: #fff;
}
footer.footer .knsl-footer-social a {
  color: #fff;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
footer.footer .footer-inner h4 {
  position: relative;
  margin-bottom: 33px;
  color: #ECFAFB;
  line-height: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
footer.footer .footer-menu li {
  margin-bottom: 20px;
}
footer.footer ul.footer-menu li a {
  color: #fff;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.3s;
}
footer.footer ul.footer-menu li a:hover {
  color: #da1c4b;
  padding-left: 10px;
}
footer.footer .footer-insta a {
  border-radius: 5px;
  display: block;
  position: relative;
  overflow: hidden;
  width: 25%;
  padding-bottom: 28%;
  transition: 0.4s ease-in-out;
  margin: 0 15px 0px 0;
  overflow: hidden;
}
footer.footer .footer-insta {
  float: left;
  font-size: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer.footer .footer-insta a:hover {
  transform: scale(1.05);
}
footer.footer .footer-insta a img {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
footer.footer .knsl-copyright {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  color: #8588A2;
  margin-top: 100px;
}
footer.footer .knsl-copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
footer.footer .copy-text {
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

section.site-bnr.Luksus {
  background: url(../img/Luxury-bner.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  object-fit: cover;
}

section.hotel-card {
  padding: 80px 0;
}
section.hotel-card .hotel-card-inner {
  position: relative;
}
section.hotel-card .hotel-card-inner::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #EEE;
}
@media screen and (max-width: 991px) {
  section.hotel-card .hotel-card-inner::before {
    display: none;
  }
}
section.hotel-card .hotel-card-inner .arrow-icon:before {
  content: "\f104";
  font-size: 20px;
  line-height: 40px;
  color: #BAAC8F;
  text-align: center;
  font-family: fontAwesome;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 1px solid #BAAC8F;
  background: #fff;
  position: absolute;
  top: 80px;
  left: 50%;
  box-sizing: border-box;
  border-radius: 100%;
}
section.hotel-card .hotel-card-inner .card-heading {
  text-align: right;
  box-sizing: border-box;
}
section.hotel-card .hotel-card-inner .card-heading h2 {
  padding: 70px 80px 0 0;
  border-bottom: 1px dashed #BAAC8F;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
section.hotel-card .hotel-card-inner .card-heading p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #888;
  letter-spacing: 0.2px;
  font-family: "Noto Sans", sans-serif;
  padding-right: 80px;
}
section.hotel-card .hotel-card-inner .card-heading .btn-read a {
  padding: 0px 30px;
  font: 14px/44px "Work Sans";
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #da1c4b;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.3s ease;
  border: 1px solid #da1c4b;
}
section.hotel-card .hotel-card-inner .card-heading .btn-read a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}
section.hotel-card .hotel-card-inner .second-line .card-heading.one {
  padding: 60px 0 0 80px;
  text-align: left;
}
section.hotel-card .hotel-card-inner .second-line .hotel-img.one {
  padding: 60px 80px 0 0px;
}
section.hotel-card .hotel-card-inner .second-line {
  position: relative;
}
section.hotel-card .hotel-card-inner .second-line:before {
  content: "\f105";
  font-size: 20px;
  line-height: 40px;
  color: #BAAC8F;
  text-align: center;
  font-family: fontAwesome;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 1px solid #BAAC8F;
  background: #fff;
  position: absolute;
  top: 80px;
  left: 50%;
  box-sizing: border-box;
  border-radius: 100%;
}
@media screen and (max-width: 991px) {
  section.hotel-card .hotel-card-inner .second-line:before {
    display: none;
  }
}
section.hotel-card .hotel-card-inner .second-line .card-heading.one h2 {
  margin: 0 0 30px -80px;
  padding: 0 10px 5px 80px;
}
section.hotel-card .hotel-card-inner .second-arrow {
  position: relative;
}
section.hotel-card .hotel-card-inner .second-arrow::before {
  content: "\f104";
  font-size: 20px;
  line-height: 40px;
  color: #BAAC8F;
  text-align: center;
  font-family: fontAwesome;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 1px solid #BAAC8F;
  background: #fff;
  position: absolute;
  top: 80px;
  left: 50%;
  box-sizing: border-box;
  border-radius: 100%;
}
@media screen and (max-width: 991px) {
  section.hotel-card .hotel-card-inner .second-arrow::before {
    display: none;
  }
}
section.hotel-card .first .hotel-img {
  padding: 0 0 0 80px;
}
section.hotel-card .hotel-img img {
  height: 280px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.arrow-icon .first .hotel-img {
  padding: 70px 0 0 80px;
}

.arrow-icon .second-arrow .hotel-img.one {
  padding: 70px 0 0 80px;
  text-align: right;
}

.btn-read {
  padding-right: 80px;
}
@media screen and (max-width: 991px) {
  .btn-read {
    padding: 0;
  }
}

section.site-bnr.contact {
  background: url(../img/cobtact-page.jpg) no-repeat;
  height: 400px;
  background-size: cover;
  background-position: center;
  height: 400px;
  object-fit: cover;
}

section.content-contact {
  padding-top: 70px;
}
section.content-contact .content-inner h5 {
  font-size: 22px;
  color: #000;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}
section.content-contact .content-inner p {
  font-size: 16px;
  color: #2d2d2d;
  font-family: "Noto Sans", sans-serif;
}
section.content-contact .content-inner p a {
  color: #da1c4b;
}

section.site-bnr.contact.terms {
  background: url(../img/termsbg.avif) no-repeat;
  background-position: center;
  background-size: cover;
}

section.terms {
  padding: 60px 0 0 0;
}
section.terms .condition_wrap h5 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
section.terms .condition_wrap p {
  font-size: 16px;
  color: #2d2d2d;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
section.terms .condition_wrap ul li {
  position: relative;
  padding-left: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
section.terms .condition_wrap ul li::before {
  position: absolute;
  content: "";
  background: #da1c4b;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 0;
  border-radius: 50%;
}

section.site-bnr.Luksus.Lomakeskus {
  background: url(../img/Holiday-bnner.jpg) no-repeat;
  background-position: center;
  background-size: center;
}

section.lomakeskus-card .orla .row .col-lg-4.col-md-6 {
  margin-bottom: 20px;
}
section.lomakeskus-card .card-design {
  background-color: #fff;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.2);
  height: 100%;
  transition: all 0.3s;
}
section.lomakeskus-card .card-design:hover {
  transform: translateY(-6px);
}
section.lomakeskus-card .card-design .card-img-inner img {
  height: 293px;
  object-fit: cover;
}
section.lomakeskus-card .card-design .card-design-inner-text {
  padding: 0 31px 30px;
}
section.lomakeskus-card .card-design .card-design-inner-text h4 {
  margin: 20px 0;
  font-size: 22px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
section.lomakeskus-card .card-design .card-design-inner-text p {
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
section.lomakeskus-card .card-design .card-design-inner-text a {
  padding: 0px 30px;
  font: 14px/44px "Work Sans";
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #da1c4b;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.3s ease;
  border: 1px solid #da1c4b;
}
section.lomakeskus-card .card-design .card-design-inner-text a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}

section.site-bnr.Luksus.ainutlaatuinen {
  background: url(../img/Ainutlaatuinen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.ainutlaatuisten {
  padding-top: 50px;
}

.ainutlaatuisten-inner .row {
  align-items: center;
}
.ainutlaatuisten-inner .figure-classic {
  margin-top: 22px;
  position: relative;
  display: inline-block;
}
.ainutlaatuisten-inner .figure-classic::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #444349;
  transition: all 0.3s ease;
  z-index: -9;
}
.ainutlaatuisten-inner .figure-classic:hover::before {
  transform: none;
}
.ainutlaatuisten-inner .figure-classic img {
  position: relative;
  transition: all 0.3s ease;
}
.ainutlaatuisten-inner .figure-classic-left {
  margin-left: 22px;
}
.ainutlaatuisten-inner .figure-classic-left::before {
  transform: translate3d(-22px, -22px, 0);
}
.ainutlaatuisten-inner .figure-classic-left img {
  max-width: 556px;
  margin: 0 auto;
  height: 382px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .ainutlaatuisten-inner .figure-classic-left img {
    height: auto;
    max-width: 100%;
  }
}
.ainutlaatuisten-inner .figure-classic-left:hover img {
  transform: translate3d(-22px, -22px, 0);
}
@media screen and (max-width: 767px) {
  .ainutlaatuisten-inner .Hotel-text {
    margin-top: 40px;
  }
}
.ainutlaatuisten-inner .Hotel-text h3 {
  font-size: 22px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.ainutlaatuisten-inner .Hotel-text p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 20px;
}
.ainutlaatuisten-inner .Hotel-text a {
  padding: 0px 30px;
  font: 14px/44px "Work Sans";
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #da1c4b;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.3s ease;
  border: 1px solid #da1c4b;
}
.ainutlaatuisten-inner .Hotel-text a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}

section.ainutlaatuinen-hotel {
  padding: 80px 0;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big {
  border: 1px solid #e1e1e1;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-img img {
  height: 366px;
  object-fit: cover;
}
@media (max-width: 575px) {
  section.ainutlaatuinen-hotel .hotel-inner .product-big .product-img img {
    height: auto;
  }
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body {
  padding: 30px 70px 30px 10%;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body h3 {
  font-size: 22px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 300px;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body .group-sm.group-middle.justify-content-start .product-big-rating i {
  color: #ffd121;
  font-size: 16px;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  margin: 20px 0;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body .ainutlaatuinen-bnt a {
  padding: 0px 30px;
  font: 14px/44px "Work Sans";
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #da1c4b;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.3s ease;
  border: 1px solid #da1c4b;
}
section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body .ainutlaatuinen-bnt a:hover {
  background-color: transparent;
  color: #da1c4b;
  border: 1px solid #da1c4b;
}
section.ainutlaatuinen-hotel .hotel-inner.one {
  margin-top: 40px;
}

section.site-bnr.Luksus.tarjoukset {
  background: url(../img/);
}

@media (max-width: 1259px) {
  section.hotel-card .hotel-card-inner .card-heading h2 {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  section.hotel-card .hotel-card-inner .arrow-icon:before,
  section.hotel-card .hotel-card-inner .second-line:before,
  section.hotel-card .hotel-card-inner .second-arrow::before {
    display: none;
  }
  .site-bnr {
    height: 500px;
  }
  .understand {
    padding: 80px 0;
  }
  .understand .understand-text {
    padding: 0 0 0 0;
  }
}
@media screen and (max-width: 991px) {
  .col-md-6.col-lg-3 {
    margin-top: 10px;
  }
  .content {
    height: auto;
  }
  .card-box {
    height: auto;
  }
  .content .content-overlay {
    opacity: 1;
  }
  .fadeIn-bottom {
    top: 50%;
  }
  .content-details {
    opacity: 1;
  }
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: linear-gradient(13deg, #4c9ef1 0%, #4c9ef1 50%, rgb(0, 0, 0) 100%);
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
    z-index: 9999;
  }
  .site-header .site-nav ul {
    display: block;
    margin-top: 40px;
  }
  .site-header .site-nav ul li {
    border-bottom: 1px solid #fff;
  }
  .site-header .site-nav ul li a {
    color: #fff;
  }
  .site-header .menu-toggle {
    display: block;
  }
  .site-header .closed-menu {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block !important;
  }
  .site-header .closed-menu a {
    color: #fff;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .site-bnr {
    height: auto;
  }
  .site-bnr .bnr-text h1 {
    font-size: 3rem;
  }
  section.hotel-card .hotel-card-inner .card-heading {
    text-align: left;
  }
  section.hotel-card .hotel-card-inner .card-heading h2 {
    padding: 0;
  }
  section.hotel-card .first .hotel-img {
    padding: 0 0 0 0px;
    margin-bottom: 24px;
  }
  .first .row {
    flex-direction: column-reverse;
  }
  section.hotel-card .hotel-img img {
    height: 300px;
  }
  section.hotel-card .hotel-card-inner .second-line .hotel-img.one {
    padding: 0;
  }
  section.hotel-card .hotel-card-inner .second-line .card-heading.one {
    padding: 0;
    text-align: left;
  }
  section.hotel-card .hotel-card-inner .second-line .card-heading.one h2 {
    margin: 0;
    padding: 0;
  }
  .second-arrow .row {
    flex-direction: column-reverse;
  }
  .arrow-icon .second-arrow .hotel-img.one {
    padding: 0;
    text-align: right;
  }
  .first {
    margin-bottom: 40px;
  }
  .second-line .card-heading.one {
    margin-top: 29px;
  }
  .card-heading.one {
    margin: 40px 0;
  }
  section.ainutlaatuisten {
    padding-top: 20px;
  }
  section.ainutlaatuinen-hotel .hotel-inner .product-big .product-big-body {
    padding: 30px 19px 30px 7%;
  }
}
@media (max-width: 767px) {
  section.lomakeskus-card .orla .row .col-lg-4.col-md-6:last-child {
    margin: 0;
  }
  .col-md-6.col-lg-2 {
    margin-top: 20px;
  }
  footer.footer {
    text-align: center;
  }
  footer.footer .knsl-footer-about {
    margin: 0 auto;
  }
  .footer-insta {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
