@mixin flexprob {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

// Home Page Banner
@mixin home-bnr {
    background: url(../img/homebanners1.jpeg)no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-attachment: fixed;
}

// Other Page Banner 
@mixin other-bnr {
    background: url(../img/Luxury-bner.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    object-fit: cover
}

@mixin overlay {
    background-color: rgba(0, 0, 0, 0.6705882353);
    opacity: .65;
    transition: background .3s, border-radius .3s, opacity .3s;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -9;
}