@mixin flexprob {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin overlay {
    background-color: #000;
    opacity: .65;
    transition: background .3s, border-radius .3s, opacity .3s;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -9;
}