/*global start*/
@import 'variables';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #ECFAFB;
}

::-webkit-scrollbar-thumb {
    background:$site-btn;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 0 !important;
}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1400px !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px !important;
}

/*global end*/
// home page css start 

.site-header {
    padding: 10px 0;
    background: transparent;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
    top: 0;
    position: absolute;

    & .header-wrapper {
        @include flexprob;
    }



    & .site-nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    & .site-nav li a {
        text-transform: capitalize;
        color: $heading-color;
        font-weight: 500;
        padding: 10px 0 10px 24px;
        font-size: 16px;
        display: inline-block;
        position: relative;
        z-index: 999;
        font-family: 'Noto Sans', sans-serif;

        // @media screen and (max-width:991px){
        //     color: red;
        // }

        &.active {
            color: $site-btn;
        }

        &:hover {
            color: #4c9ef1;
        }

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $site-btn;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: $site-btn;
        }

    }

    & .closed-menu {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    & .menu-toggle .bar-1,
    .bar-2,
    .bar-3 {
        width: 2.5rem;
        height: 2px;
        background-color: $heading-color;
        margin: 0.6rem 0;
        transition: all 0.3s linear;
        display: block;
    }
}

// banner css
.site-bnr {
    @include home-bnr;

    &::after {
        @include overlay;
    }

    & .bnr-text {
        text-align: center;

        & h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 4rem;
            color: $heading-color;
            font-weight: 700;
            width: 100%;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }

        & .button-wrapper {
            & a {
                background-color: $site-btn;
                color: $heading-color;
                padding-top: 17px;
                padding-right: 40px;
                padding-bottom: 17px;
                padding-left: 40px;
                border-radius: 30px;
                font-size: 14px;
                font-family: 'Noto Sans', sans-serif;
                display: inline-block;
                border: 1px solid $site-btn;

                &:hover {
                    background-color: transparent;
                    color: $site-btn;
                    border: 1px solid $site-btn;
                }
            }
        }
    }
}

// discritpion-bnr
section.discritpion-bnr {
    background-color: $heading-color;
    padding: 50px 0;

    & .discritpion {
        & p {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: 1.9rem;
            margin: 0;
            line-height: 1.7em;
            text-align: center;
        }
    }
}

// 
.card-img {
    padding: 80px 0;
}

.main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

.card-box {
    padding: 1em 0;
    width: 100%;
    height: 250px;
}


.card-box .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 250px;
    object-fit: cover;
}

.content .content-overlay {
    background: $overlay-color;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}


.fadeIn-bottom {
    top: 80%;
}

h3.content-title {
    font-size: 20px;
    color: $heading-color;
    font-weight: 700;
}

// 
.understand {
    background: url(../img/section-bg-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0;
    background-attachment: fixed;
    margin-top: 50px;
    z-index: 99;
    position: relative;

    &::after {
        @include overlay;
    }


    & .understand-text {
        padding: 0 0 0 50%;

        & h3 {
            font-size: 40px;
            color: $heading-color;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding-bottom: 14px;
        }

        & p {
            font-size: 16px;
            color: $heading-color;
            font-family: 'Noto Sans', sans-serif;
            line-height: 30px;
            margin: 0;
            padding-bottom: 12px;
        }

        & .button-wrapper {
            & a {
                padding: 14px 40px;
                background-color: $site-btn;
                color: $heading-color;
                display: inline-block;
                font-size: 16px;
                font-family: 'Noto Sans', sans-serif;
                border: 1px solid $site-btn;
                border-radius: 30px;

                &:hover {
                    background-color: transparent;
                    color: $site-btn;
                    border: 1px solid $site-btn;
                }
            }
        }
    }

}

// footer css

body#home-page footer.footer {
    margin: 0;
}


footer.footer {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 100px 0 0 0;
    margin-top: 100px;

    img.knsl-footer-logo {
        width: 100%;
        margin-bottom: 33px;
        max-width: 221px;
    }

    .knsl-footer-about {
        display: block;
        width: 80%;
        color: $heading-color;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
    }

    .knsl-footer-social {
        padding-top: 50px;
    }

    .knsl-footer-social i {
        background: $heading-color;
        height: 40px;
        width: 40px;
        padding: 9px;
        text-align: center;
        color: $site-btn;
        font-size: 22px;
        border-radius: 30px;
        transition: all 0.2s;

        &:hover {
            background-color: $site-btn;
            color: $heading-color;
        }
    }

    .knsl-footer-social a {
        color: $heading-color;
        margin-right: 10px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    .footer-inner h4 {
        position: relative;
        margin-bottom: 33px;
        color: #ECFAFB;
        line-height: 30px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .footer-menu li {
        margin-bottom: 20px;
    }

    ul.footer-menu li a {
        color: $heading-color;
        font-size: 15px;
        font-family: 'Noto Sans', sans-serif;
        transition: all 0.3s;

        &:hover {
            color: $site-btn;
            padding-left: 10px;
        }
    }

    .footer-insta a {
        border-radius: 5px;
        display: block;
        position: relative;
        overflow: hidden;
        width: 25%;
        padding-bottom: 28%;
        transition: 0.4s ease-in-out;
        margin: 0 15px 0px 0;
        overflow: hidden;
    }

    .footer-insta {
        float: left;
        font-size: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        & a:hover {
            transform: scale(1.05);
        }
    }

    .footer-insta a img {
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .knsl-copyright {
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 20px 0;
        color: #8588A2;
        margin-top: 100px;
    }

    .knsl-copyright .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-family: 'Noto Sans', sans-serif;
    }

    .copy-text {
        text-align: center;
        width: 100%;
        color: $heading-color;
        font-family: 'Noto Sans', sans-serif;
        a{
            color: #cb8670
        }
    }
}


// Luksus page css
// Luksus page css end
// banner
section.site-bnr.Luksus {
    @include other-bnr;
}

// banner
// hotel card css
section.hotel-card {
    padding: 80px 0;

    .hotel-card-inner {
        position: relative;

        &::before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            background: #EEE;

            @media screen and (max-width:991px) {
                display: none;
            }
        }

        & .arrow-icon:before {
            content: "\f104";
            font-size: 20px;
            line-height: 40px;
            color: #BAAC8F;
            text-align: center;
            font-family: fontAwesome;
            width: 40px;
            height: 40px;
            margin-left: -20px;
            border: 1px solid #BAAC8F;
            background: $heading-color;
            position: absolute;
            top: 80px;
            left: 50%;
            box-sizing: border-box;
            border-radius: 100%;

        }

        .card-heading {

            text-align: right;
            box-sizing: border-box;

            & h2 {
                padding: 70px 80px 0 0;
                border-bottom: 1px dashed #BAAC8F;
                display: inline-block;
                font-size: 26px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
            }

            & p {
                margin-bottom: 30px;
                font-size: 16px;
                color: #888;
                letter-spacing: .2px;
                font-family: 'Noto Sans', sans-serif;
                padding-right: 80px;
            }

            & .btn-read a {
                @include btnprob;

                &:hover {
                    @include btnhover;
                }
            }
        }



        // & .hotel-img {

        //     margin-bottom: 30px;
        //     padding: 70px 0 0 80px;
        //     float: right;
        //     box-sizing: border-box;
        // }

        .second-line .card-heading.one {
            padding: 60px 0 0 80px;
            text-align: left;

        }

        .second-line .hotel-img.one {
            padding: 60px 80px 0 0px;
        }


        .second-line {
            position: relative;

            &:before {
                content: "\f105";
                font-size: 20px;
                line-height: 40px;
                color: #BAAC8F;
                text-align: center;
                font-family: fontAwesome;
                width: 40px;
                height: 40px;
                margin-left: -20px;
                border: 1px solid #BAAC8F;
                background: $heading-color;
                position: absolute;
                top: 80px;
                left: 50%;
                box-sizing: border-box;
                border-radius: 100%;

                @media screen and (max-width:991px) {
                    display: none;
                }
            }

            .card-heading.one h2 {
                margin: 0 0 30px -80px;
                padding: 0 10px 5px 80px
            }
        }

        .second-arrow {
            position: relative;

            &::before {
                content: "\f104";
                font-size: 20px;
                line-height: 40px;
                color: #BAAC8F;
                text-align: center;
                font-family: fontAwesome;
                width: 40px;
                height: 40px;
                margin-left: -20px;
                border: 1px solid #BAAC8F;
                background: $heading-color;
                position: absolute;
                top: 80px;
                left: 50%;
                box-sizing: border-box;
                border-radius: 100%;

                @media screen and (max-width:991px) {
                    display: none;
                }
            }


        }
    }

    .first .hotel-img {
        padding: 0 0 0 80px;
    }

    .hotel-img img {
        height: 280px;
        object-fit: cover;
        object-position: top;
        overflow: hidden;

    }
}

.arrow-icon .first .hotel-img {
    padding: 70px 0 0 80px;
}

.arrow-icon .second-arrow .hotel-img.one {
    padding: 70px 0 0 80px;
    text-align: right
}

.btn-read {
    padding-right: 80px;

    @media screen and (max-width:991px) {
        padding: 0;
    }
}


// hotel card css

// contact page
section.site-bnr.contact {
    background: url(../img/cobtact-page.jpg)no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    height: 400px;
    object-fit: cover
}

section.content-contact {
    padding-top: 70px;

    .content-inner {
        & h5 {
            font-size: 22px;
            color: #000;
            font-weight: 500;
            font-family: 'Noto Sans', sans-serif;
        }

        & p {
            font-size: 16px;
            color: #2d2d2d;
            font-family: 'Noto Sans', sans-serif;

            & a {
                color: $site-btn
            }
        }
    }
}

// 
section.site-bnr.contact.terms {
    background: url(../img/termsbg.avif)no-repeat;
    background-position: center;
    background-size: cover;
}

section.terms {
    padding: 60px 0 0 0;

    .condition_wrap {
        & h5 {
            font-size: 22px;
            margin-bottom: 10px;
            color: #000;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 600;
        }

        & p {
            font-size: 16px;
            color: #2d2d2d;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 500;
        }

        & ul li {
            position: relative;
            padding-left: 20px;
            padding-bottom: 15px;
            font-size: 16px;
            font-family: 'Noto Sans', sans-serif;

            &::before {
                position: absolute;
                content: "";
                background: $site-btn;
                width: 8px;
                height: 8px;
                top: 8px;
                left: 0;
                border-radius: 50%;
            }
        }
    }
}

// Lomakeskus page css          
section.site-bnr.Luksus.Lomakeskus {
    background: url(../img/Holiday-bnner.jpg)no-repeat;
    background-position: center;
    background-size: center;

}

section.lomakeskus-card {

    .orla {
        .row .col-lg-4.col-md-6 {
            margin-bottom: 20px;
        }
    }

    .card-design {
        background-color: $heading-color;
        box-shadow: 0 3px 17px rgba(0, 0, 0, 0.2);
        height: 100%;
        transition: all 0.3s;

        &:hover {
            transform: translateY(-6px);
        }

        .card-img-inner img {
            height: 293px;
            object-fit: cover;
        }

        .card-design-inner-text {
            padding: 0 31px 30px;

            h4 {
                margin: 20px 0;
                font-size: 22px;
                color: #000;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 600;

            }

            p {
                font-size: 16px;
                color: #000;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
                margin-bottom: 20px;

            }

            a {
                @include btnprob;

                &:hover {
                    @include btnhover;
                }
            }
        }
    }
}

// Lomakeskus page css

// Ainutlaatuinen

section.site-bnr.Luksus.ainutlaatuinen {
    background: url(../img/Unique-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.ainutlaatuisten {
    padding-top: 50px;
}

.ainutlaatuisten-inner {
    .row {
        align-items: center;
    }

    .figure-classic {
        margin-top: 22px;
        position: relative;
        display: inline-block;

        &::before {
            display: inline-block;
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid #444349;
            transition: all .3s ease;
            z-index: -9;
        }

        &:hover::before {
            transform: none;
        }

        & img {
            position: relative;
            transition: all .3s ease;
        }

    }

    .figure-classic-left {
        margin-left: 22px;

        &::before {
            transform: translate3d(-22px, -22px, 0);
        }

        & img {
            max-width: 556px;
            margin: 0 auto;
            height: 382px;
            object-fit: cover;

            @media (max-width:767px) {
                height: auto;
                max-width: 100%;
            }
        }

        &:hover img {
            transform: translate3d(-22px, -22px, 0);
        }
    }

    & .Hotel-text {
        @media screen and (max-width:767px) {
            margin-top: 40px;
        }




        & h3 {
            font-size: 22px;
            color: #000;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
        }

        & p {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Noto Sans', sans-serif;
            margin-bottom: 20px;
        }

        & a {
            @include btnprob;

            &:hover {
                @include btnhover;
            }
        }
    }

}

// 
section.ainutlaatuinen-hotel {
    padding: 80px 0;

    .hotel-inner {
        .product-big {
            border: 1px solid #e1e1e1;

            .product-img {
                overflow: hidden;
                img {
                    height: 366px;
                    object-fit: cover;
                    transition: all 2s;

                    &:hover{
                        transform: scale(1.1);
                    }

                    @media (max-width:575px) {
                        height: auto;
                    }
                }
            }

            .product-big-body {
                padding: 30px 70px 30px 10%;

                h3 {
                    font-size: 22px;
                    color: #000;
                    font-family: 'Noto Sans', sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                    max-width: 300px;
                }

                .group-sm.group-middle.justify-content-start {
                    .product-big-rating {
                        & i {
                            color: #ffd121;
                            font-size: 16px
                        }
                    }
                }

                p {
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Noto Sans', sans-serif;
                    margin: 20px 0;
                }

                .ainutlaatuinen-bnt {
                    a {
                        @include btnprob;

                        &:hover {
                            @include btnhover;
                        }
                    }
                }
            }
        }
    }

    .hotel-inner.one {
        margin-top: 40px;
    }
}


section.site-bnr.Luksus.tarjoukset {
    background: url(../img/Bidding-banner.jpg)no-repeat;
    background-position: center;
    background-size: cover;

}

// 
section.site-bnr.contact.privacy {
    background: url(../img/bg-elements.jpg)no-repeat;
    background-position: center;
    background-size: cover;

}

/* Preloader */
.container-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999999999;
}

.container-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-top-color: #cb8670;
    /* It is not in alphabetical order so that you do not overwrite it */
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

/* Loading text */
.container-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
}

.container-preloader .animation-preloader .txt-loading .characters:before {
    animation: characters 2s infinite;
    color: #cb8670;
    content: attr(preloader-text);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.container-preloader .animation-preloader .txt-loading .characters {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
    animation-delay: 0.2s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
    animation-delay: 0.4s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
    animation-delay: 0.6s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
    animation-delay: 0.8s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
    animation-delay: 1s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
    animation-delay: 1.2s;
}

.container-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.container-preloader .loader-section.section-left {
    left: 0;
}

.container-preloader .loader-section.section-right {
    right: 0;
}

/* Fade effect on loading animation */
.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animation of the preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

/* Animation of letters loading from the preloader */
@keyframes characters {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {

    /* Preloader */
    /* Spinner Loading */
    .container-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    /* Text Loading */
    .container-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media screen and (max-width: 500px) {

    /* Prelaoder */
    /* Spinner Loading */
    .container-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    /*Loading text */
    .container-preloader .animation-preloader .txt-loading {
        font: bold 2em 'Montserrat', sans-serif;
    }
}

.origin {
    text-decoration: none;
    font-size: 45px;
}







// meadia Query

@import 'responsive';